@media print {
  .signature-block {
    page-break-inside: avoid;
  }
}

.signature-block {
  border-top: 1px solid black;
  line-height: 0.5em;
  margin-top: 20mm;
  text-align: left;
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.signature-name,
.signature-role {
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
}
