<!-- founding_affidavit.html -->
{% extends "components/base.html.j2" %}

{% from "components/macros.j2" import add_stylesheet %}
{% from "components/macros.j2" import render_paragraphs %}

{% block title %}Founding Affidavit{% endblock %}

{% block styles %}
{{ add_stylesheet("css/signature_block.css") }}
{{ add_stylesheet("css/affidavit.css") }}
{{ add_stylesheet("css/paragraph.css") }}
{{ add_stylesheet("css/commissioner_block.css") }}
{% endblock %}

{% block content %}
  <p>I, the undersigned,</p>

  <div class="affiant">
    <p>{{ affiant.name }}</p>
    <p>ID No: {{ affiant.id_no }}</p>
  </div>
  
  <p>do hereby make oath and state the following:</p>

  <div class="affidavit-content">
    {{ render_paragraphs(affidavit_content) }}
  </div>

  {% include "components/signature_block.html.j2" %}

  {% include "components/commissioner_block.html.j2" %}
{% endblock %}
