<!-- notice_of_motion.html -->
{% extends "components/base.html.j2" %}
{% from "components/macros.j2" import render_reliance_section %}

{% block content %}
  <p>TAKE NOTICE that the undersigned will move the Court on the {{ motion_date }} at {{ motion_time }} or so soon thereafter as counsel may be heard for an order in the following terms:</p>

  <div class="motion-content">
    {{ motion_content }}
  </div>

  {{ render_reliance_section("documents", relied_documents) }}
  {{ render_reliance_section("authorities", relied_authorities) }}
  {{ render_reliance_section("evidence", relied_evidence) }}
  {{ render_reliance_section("witnesses", relied_witnesses) }}
  {{ render_reliance_section("experts", relied_experts) }}
  {{ render_reliance_section("submissions", relied_submissions) }}

  {% include "components/signature_block.html.j2" %}
{% endblock %}
